<ion-view title="Decision Editor" ng-init="initEdit()">
  <ion-nav-buttons side="left">
    <button class="right button" ng-click="back()">Cancel</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="left button" ng-click="save()">Save</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="decisionTitle" placeholder="New Decision" ng-value="workingDecision.title"></input>
      </label>

      <ion-item class="item-divider margin-top">Add Choices</ion-item>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="formData.newChoiceName" placeholder="New Choice"></input>
      </label>
      <label class="item item-input">
         <span class="input-label">Probability (%)</span>
        <input type="number" ng-model="formData.newChoiceProb" placeholder="Number between 0 to 100"></input>
      </label>

      <div class="button-bar">
        <a class="button button-balanced" ng-click="addChoice(formData.newChoiceName,formData.newChoiceProb)">Add</a>
      </div>

      <ion-item class="item-divider margin-top text-center row">
          <div class="col">
            Choice
          </div>
          <div class="col col-10">
            %
          </div>
          <div class="col">
            -/+ % Chance
          </div>
      </ion-item>

      <ion-item class="small-rows" ng-repeat="(key,value) in workingDecision.choices">
        <div class="row">
          <div class="col nowrap col-margin-top">
            <label class="item item-input">
              <input type="text" ng-model="formData.choiceName[key]" ng-Focus="nameChangeBegin(key)" ng-Blur="nameChangeDone(formData.choiceName[key])" ng-value="'{{key}}'"></input>
            </label>
          </div>
          <div class="col col-10 col-margin-top">
            <label class="item item-input">
              <input class="probability" type="number" ng-model="formData.choiceProb[key]" ng-Blur="probChange(value,formData.choiceProb[key],key)" placeholder="0" ng-value="{{value}}"></input>
            </label>
          </div>
          <div class="col">
            <div class="button-bar">
              <a class="button button-light icon ion-ios-minus" ng-click="minusProb(key)"></a>
              <a class="button button-light icon ion-ios-plus" ng-click="plusProb(key)"></a>
              <a class="button button-light icon ion-trash-b" ng-click="deleteChoice(key)"></a>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item class="small-rows row">
        <div class="col">
          Total
        </div>
        <div id="totalSum">{{workingDecision.totalSum}}</div>
      </ion-item>

      <div class="button-bar">
        <a class="button button-positive" ng-click="evenProb()">All Equal %</a>
        <a class="button button-energized" ng-click="resetProb()">Reset All %</a>
      </div>



    </div>
  </ion-content>



</ion-view>