<ion-view title="Flash Decisions" ng-init="initQuick()">
  <ion-nav>
  </ion-nav>
  <ion-content class="has-footer">
    <div class="list list-inset">

      <ion-item class="item-divider margin-top">Quick Items</ion-item>
      <ion-toggle ng-model="formData.coinFlip" toggle-class="toggle-assertive" ng-click="coinFlipToggle()">
         Flip a Coin

      </ion-toggle>

      <ion-toggle checked="false" ng-model="formData.RPS" toggle-class="toggle-assertive" ng-click="RPSToggle()">
         Rock, Paper, Scissors
      </ion-toggle>

      <ion-toggle ng-model="formData.dieRoll" toggle-class="toggle-assertive" ng-click="dieRollToggle()">
         Roll a Six-Sided Die
      </ion-toggle>
      <div class="button-bar">
        <a class="button button-balanced" ng-click="runQuickItem()">Go</a>
      </div>
    </div>

    <div class="list list-inset">
      <ion-item class="item-divider margin-top">Random Number Picker</ion-item>

      <ion-item class="row">
        <div class="col col-margin-left col-margin-top">How Many Numbers</div>
        <div class="col col-20">
          <label class="item item-input">
            <input type="number" ng-model="formData.numberChoices" placeholder="0"></input>
          </label>
        </div>
      </ion-item>

      <ion-item class="row">
        <div class="col col-margin-left col-margin-top">From (Min Value)</div>
        <div class="col col-20">
          <label class="item item-input">
            <input type="number" ng-model="formData.minValue" placeholder="0"></input>
          </label>
        </div>
      </ion-item>

      <ion-item class="row">
        <div class="col col-margin-left col-margin-top">To (Max Value)</div>
        <div class="col col-20">
          <label class="item item-input">
            <input type="number" ng-model="formData.maxValue" placeholder="0"></input>
          </label>
        </div>
      </ion-item>

      <ion-toggle checked="false" ng-model="formData.replaceValues" toggle-class="toggle-assertive">Allow Duplicate Values
      </ion-toggle>

      <div class="button-bar">
        <a class="button button-balanced" ng-click="randPicker(formData.numberChoices,formData.minValue,formData.maxValue,formData.replaceValues)">Select</a>
      </div>
    </div>


  </ion-content>
  <ion-tabs class="tabs-icon-only">
    <ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/home">
    </ion-tab>
    <ion-tab icon-on="ion-ios-bolt" icon-off="ion-ios-bolt-outline" href="#/quick">
    </ion-tab>
    <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/settings">
    </ion-tab>
  </ion-tabs>
</ion-view>