/* Empty. Add your own CSS if you like */


.custom-button {
  background-color: #F0F8FF;
  margin-right: 0;
}

.list-inset .button-bar{
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top{
  margin-top: 2%;
}

.row .col .button-bar .button.active, .row .col .button-bar .button.activated{
  border-color: transparent;
}
.small-rows .row{
  padding: 0;
}

.small-rows{
  padding: 0;
}

.nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row .col .item-input, .row .col .item-input input{
  padding: 0;
}

.tight-center{
  text-align: center;
}

.col-margin-top{
  margin-top: 8px;
}